<%- include('partials/header'); -%>

<header>
  <div class="smoothie">
    <img src="/smoothie.png" alt="">
  </div>
  <div class="headings">
    <h2>Inclusive news Portal</h2>
    <h3>By Nitish</h3>
    <a href="/getNews" class="btn">View NEWS</a>
  </div>
</header>


<%- include('partials/footer'); -%>