<%- include('partials/header'); -%>

<!-- <ul class="recipes">
  <li class="recipe">
    <img onclick="myFun()" src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Banana Boost</h4>
    <p>Banana, Vanilla ice cream, Milk</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Tropical Twist</h4>
    <p>Peach, Pinapple, Apple juice</p>
  </li>
  <li class="recipe">
    <img src="/smoothie.png" alt="smoothie recipe icon">
    <h4>Protein Packer</h4>
    <p>Oats, Peanut butter, Milk, Banana, Blueberries</p>
  </li>
</ul> -->

<div id="newsDiv" >
  <h1>news here</h1>
  <% articles.forEach(function(article, index) { %>
    <%- article.title%>

  <%})%>
</div>

<script>
  const myFun = async () => {
    try {
      const res = await fetch('/getNews', { 
        method: 'GET',
        headers: {'Content-Type': 'application/json'}
      });
      const data = await res.json();

      const divEl = document.getElementById("newsDiv");

      divEl.innerHTML = JSON.stringify(data);
      console.log("nitish", data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        location.assign('/');
      }
    }
    catch (err) {
      console.log(err);
    }
  };
</script>

<%- include('partials/footer'); -%>